@use "variables" as lock;
@use "mixins" as mix;

.subhero {
  @include mix.l-green-bg;

  &__wrapper {
    margin: 0 auto;
    max-width: 780px;
    @include mix.hundred-width;
    padding: 50px 0 140px 0;
    @include mix.flex;
    @include mix.between;
    row-gap: 40px;
    flex-wrap: wrap;

    &-title {
      flex-basis: 100%;

      h2 {
        @include mix.circular;
        font-size: lock.$f-size-large;
        margin: 0;
        text-align: center;
      }
    }

    &-card {
      @include mix.flex;
      flex-direction: column;
      flex-basis: 30%;

      &-img {
        @include mix.flex;
        @include mix.center;

        &-bg {
          @include mix.p-b;
        }

        &-bg-blue {
          background-color: lock.$light-blue;
        }

        &-bg-green {
          background-color: lock.$light-green;
        }
      }

      &-content {
        p {
          margin-top: 24px;
          text-align: center;
          @include mix.circular;
        }
      }
    }
  }
}

@media (max-width: 899px) {
  .subhero {
    &__wrapper {
      padding-bottom: 25px;
      padding-top: 50px;

      &-card {
        flex-basis: 50%;

        &-content {
          @include mix.flex;
          @include mix.center;

          p {
            width: 70%;
          }
        }
      }

      &-card:nth-of-type(4) {
        flex-basis: 100%;
      }
    }
  }
}

@media (max-width: 599px) {
  .subhero__wrapper {
    gap: 20px;

    &-title {
      h2 {
        font-size: lock.$f-size-s;
      }
    }

    &-card {
      flex-basis: 100%;

      &-img {
        &-bg {
          padding: 15px;

          img {
            width: 25px;
          }
        }
      }

      &-content {
        p {
          margin-top: 15px !important;
          font-size: lock.$f-size-tw !important;
        }
      }
    }
  }
}
