// colors
$header-t-color: #000c2d;
$bblue: #2f70fe;
$white: #ffffff;
$black: #000000;
$main-title: #181818;
$main-p: #000c2d;
$light-blue: 
rgba(47, 112, 254, 0.1);
$light-green: 
rgba(109, 237, 2, 0.1);

//fonts
$f-size-xs: 14px;
$f-size-s: 16px;
$f-size-m: 28px;
$f-size-ml: 36px;
$f-size-large: 40px;
$f-size-sl: 48px;
$f-weight-four: 400;
$f-weight-five: 500;
$f-weight-seven: 700;
$lt-spacing-small: 0.03em;
$lt-spacing-xs: 0.02em;