@use "variables" as lock;
@use "mixins" as mix;
@import "header";
@import "hero";
@import "subhero";
@import "main-section-style";
@import "footer";

body * {
  box-sizing: border-box;
  transition: 0.25s ease;
}

.wrapper {
  max-width: 1440px;
  min-width: 450px;
  @include mix.hundred-width;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  @include mix.circular;
  li {
    a {
      text-decoration: none;
      font-size: lock.$f-size-xs;
      letter-spacing: lock.$lt-spacing-small;
    }
  }
}

a:hover {
  text-decoration: underline;
  transform: scale(1.1);
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
